---
layout: default-blog
---
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">
          <div class="card-columns">
            {% for post in site.posts %}
            <div class="card" style="">
              <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.summary }}</p>
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url}}" class="btn btn-primary">Read More</a>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
        <div class="col-lg-2">{%- include blog_sidebar.html -%}</div>
      </div>
    </div>
    
    
    

  


