---
layout: default
---


<div class="row">
    <div class="col-lg-6 offset-md-3">
        <div class="card">
                <h1 class="card-title" > Contact Me </h1>
                <div class="social-media" style="display: flex;padding:20px; justify-content: space-evenly;">
                    <a href="https://www.instagram.com/tanveer.codes">
                        <i class="fab fa-instagram fa-3x" style=""></i>
                    </a>
                    <a href="https://www.linkedin.com/in/m-tanveer-jan">
                        <i class="fab fa-linkedin fa-3x" style=""></i>
                    </a>
                    <a href="https://www.facebook.com/tjan90/">
                        <i class="fab fa-facebook fa-3x" style=""></i>
                    </a>
                    <a href="mailto:m.jan@studenti.unisa.it">
                        <i class="far fa-envelope fa-3x" style=""></i>
                    </a>
                </div>

             </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
<style>

.social-media > a > i{
        color: grey;
    }
    .social-media > a > i:hover{
        color: white;
    }
</style>




