---
layout: default
---

<div class="row" id="blog-posts-container">
        <div class="col-sm-11 col-md-4 col-lg-3">
                <div class="card bg-dark ">
                        <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/python.png" alt="Card image" style="width: 300px;height: 300px;">
                        <div class="card-img-overlay">
                                <h5 class="card-title">Python</h5>
                        </div>
                </div>
                <div class="card bg-dark">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/javascript.png" alt="Card image" style="width: 300px;height: 300px;">
                        <div class="card-img-overlay">
                        <h5 class="card-title text-black-50">JavaScript</h5>
                        </div>
                </div>
        </div>
        <div class="col-sm-11 col-md-4 col-lg-3">
                <div class="card bg-dark">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/react.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title ">ReactJS</h5>
                  </div>
              </div>
              <div class="card bg-dark ">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/django.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Django</h5>
                  </div>
              </div>
              <div class="card bg-dark ">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/node.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">NodeJS</h5>
                  </div>
              </div>
        </div>
        <div class="col-sm-11 col-md-4 col-lg-3">
                <div class="card bg-dark ">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/mongodb.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">MongoDB</h5>
                  </div>
                </div>
                <div class="card bg-dark ">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/firebase.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Firebase</h5>
                  </div>
                </div>
        </div>
        <div class="col-sm-11 col-md-4 col-lg-3">
                <div class="card bg-dark ">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/express.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">ExpressJS</h5>
                  </div>
                </div>
                <div class="card bg-dark ">
                <img class="card-img" src="{{ site.url}}{{site.baseurl}}/assets/img/products/material.png" alt="Card image" style="width: 300px;height: 300px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">MaterialUI</h5>
                  </div>
                </div>
        </div>
</div>

